@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');
$font-fam: 'Karla', sans-serif;
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-fam;
}
#main-box{
    display: flex;
    flex-direction: column;
    background: #111827;
    border-radius: 1.25em;
}
.contentbox{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 50px 50px;
    .header{
        font-size: 2rem;
        color: #fff;
    }
    .side-header{
        font-size: 1em;
        color: #10B981;
    }
    .content{
        padding-top: 8% ;
        font-size: 1.3em;
        color: #9CA3AF;
    }
    .pwdConstraints{
        display: flex;
        //visibility: hidden;
        flex-direction: row;
        margin-top: 6%;
        column-gap: 10%;
        .pwdCharInput{
            width: 40%;
        }
        #pwdCharInput{
            height: 2.2em;
            font-size: 1em;
            width: 100%;
            text-align: center;
            color: #10B981;
            font-weight: 700;
            letter-spacing: 1px;
            border: none;
            border-radius: 0.6em;
        }
        #pwdCharInput:active, #pwdCharInput:focus{
            outline: none;
        }
        #pwdCharInput::-webkit-inner-spin-button,#pwdCharInput::-webkit-outer-spin-button{
            -webkit-appearance: none;
            -moz-appearance: textfield;
        }
        .checkboxes{
            width: 60%;
            display: flex;
            flex-flow: row wrap;
            column-gap: 20%;
            .alphas, .splChars{
                display: inline-flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            #alphaCheckbox, #numbersCheckbox, #numbersCheckboxLabel, #alphaCheckboxLabel{
                justify-self: flex-end ;
            }
            label{
                display: inline-flex;
                column-gap: 10px;
                color: #9CA3AF;
            }
        }
       
    }
}
#generate{
    margin: 10% 0 10%;
    display: flex;
    align-items: center;
    height: 3em;
    width: fit-content;
    padding: 10px 20px 10px 10px;
    color: #fff;
    background-color: #10B981;
    border: none;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    span{
        padding: 0px 6px 0px 0px;
    }
}

.contentbox::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #2F3E53
}

.gensPwd{
    display: flex;
    flex-flow: row wrap;
    padding: 0px 50px 50px;
    height: max-content;
    justify-content: space-between;
    align-content: space-between;
    row-gap: 20px;
    span{
        padding: 10px 0px;
        width: 45%;
        background: #273549;
        border-radius: 10px;
        text-align: center;
        color: #10B981;
    }
}

#modal{
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #27354990;
    //opacity: 0;
    .modalContent{
        border-radius: 1.25em;
        width: 40%;
        margin: 10% auto;
        background-color: #10B981;
        padding: 2%;
    }
    span{
         float: right;
        
    }
    span:hover{
        cursor:none;
        color: #fff;
    }
    p{
        font-size: 1.25rem;
        color: #fff;
        text-align: center;
        clear: both;
        width: 100%;
    }
}




@media screen and (min-width: 320px) and (max-width: 600px){
    #main-box{
        width: 90%;
    }
    .contentbox{
        padding: 30px 30px;
    }
    .gensPwd{
        padding: 0px 30px 30px;
    }
}