@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300;700&display=swap");
html,
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1406' height='688' preserveAspectRatio='none' viewBox='0 0 1406 688'%3e%3cg mask='url(%26quot%3b%23SvgjsMask5425%26quot%3b)' fill='none'%3e%3crect width='1406' height='688' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 0.99)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol5432' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol5432' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask5425'%3e%3crect width='1406' height='688' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath5426'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath5429'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath5428'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath5427'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath5430'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath5431'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol5432'%3e%3cuse xlink:href='%23SvgjsPath5426' x='30' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='30' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='30' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5429' x='30' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='30' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='30' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='30' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='30' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='30' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='30' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5426' x='30' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='30' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='90' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5429' x='90' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='90' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='90' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5426' x='90' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='90' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='90' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='90' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='90' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='90' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='90' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='90' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='150' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5429' x='150' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='150' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='150' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5431' x='150' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='150' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='150' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='150' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='150' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='150' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='150' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='150' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='210' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='210' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5426' x='210' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='210' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5429' x='210' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='210' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='210' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5426' x='210' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='210' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='210' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='210' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='210' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5426' x='270' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='270' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='270' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5431' x='270' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='270' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='270' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5431' x='270' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='270' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='270' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='270' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5426' x='270' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='270' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='330' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='330' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5426' x='330' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='330' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5431' x='330' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='330' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='330' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='330' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='330' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='330' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='330' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='330' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='390' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='390' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='390' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5429' x='390' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='390' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='390' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='390' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='390' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='390' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='390' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='390' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='390' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='450' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='450' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5429' x='450' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='450' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5431' x='450' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='450' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='450' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='450' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='450' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='450' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='450' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='450' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='510' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='510' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='510' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5431' x='510' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='510' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='510' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='510' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='510' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='510' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='510' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5426' x='510' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='510' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5429' x='570' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='570' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='570' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='570' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5431' x='570' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='570' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5429' x='570' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='570' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5431' x='570' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='570' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='570' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='570' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5429' x='630' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5426' x='630' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5426' x='630' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='630' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='630' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='630' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='630' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='630' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='630' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='630' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='630' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5431' x='630' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='690' y='30' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='690' y='90' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='690' y='150' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5429' x='690' y='210' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='690' y='270' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='690' y='330' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5430' x='690' y='390' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5428' x='690' y='450' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5427' x='690' y='510' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5426' x='690' y='570' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5429' x='690' y='630' stroke='rgba(255%2c 35%2c 35%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath5431' x='690' y='690' stroke='rgba(255%2c 35%2c 35%2c 1)' stroke-width='3'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  body {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main-box {
  background-color: #F4F5F5;
  width: 600px;
  border-radius: 1em;
}

.header {
  width: 100%;
  border-radius: 1em 1em 0em 0em;
  background: -webkit-gradient(linear, left top, right top, from(#ED4880), to(#F38B17));
  background: linear-gradient(to right, #ED4880, #F38B17);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Georama", sans-serif;
  letter-spacing: 1px;
  color: #EFF3ED;
  font-weight: 700;
}

.header h1 {
  font-family: "Georama", sans-serif;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  padding: 1.5em 0em 0.8em;
}

.header .controls-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: 900;
  padding: 4em 0em 2em;
}

.header .controls-input .input1 #input1::-webkit-inner-spin-button,
.header .controls-input .input1 #input1::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.header .controls-input .input1 #input1 {
  width: 300px;
  margin: 0;
  border: none;
  padding: 0.5em 0em;
  font-size: 1.2em;
  text-align: center;
  color: #ED4880;
  font-family: "Georama", sans-serif;
  font-weight: 700;
}

.header .controls-input span.material-icons-outlined {
  cursor: pointer;
  padding: none;
  font-size: 36px;
}

.header .controls-input span.material-icons-outlined:hover {
  color: #6fe3e1;
}

.header #submit {
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 1.5em;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.header #submit:hover {
  color: #6fe3e1;
  -webkit-transition: 50ms;
  transition: 50ms;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .main-box {
    width: 80%;
  }
  .header {
    background: -webkit-gradient(linear, left top, left bottom, from(#32c4c0), to(#9fccfa));
    background: linear-gradient(to bottom, #32c4c0, #9fccfa);
  }
  h1 {
    font-size: 1rem;
    padding: 0em 0em 1em;
  }
  .controls-input {
    padding: 0.8em 0em !important;
    gap: 30px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  span.material-icons-outlined:hover {
    color: #F38B17 !important;
  }
  #input1 {
    width: calc(400px/2) !important;
    font-size: 1em !important;
    color: #32c4c0 !important;
  }
  #submit:hover {
    color: #F38B17 !important;
  }
}

.length,
.volume,
.mass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
  font-family: "Georama", sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.2em;
  color: #313131;
}

.length h4,
.volume h4,
.mass h4 {
  padding-bottom: 2%;
}

.inUnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 300;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .length,
  .volume,
  .mass {
    font-size: 0.9em;
  }
  .inUnit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inUnit .L1 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1%;
  }
  .calculator {
    display: hii;
  }
}

.calculator {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px;
  border-radius: 40%;
  background-color: #EFF3ED;
}

.calculator img {
  display: inline;
  width: 2.5em;
  height: 2.5em;
}
/*# sourceMappingURL=style.css.map */