@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Karla", sans-serif;
}

#main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #111827;
  border-radius: 1.25em;
}

.contentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  padding: 50px 50px;
}

.contentbox .header {
  font-size: 2rem;
  color: #fff;
}

.contentbox .side-header {
  font-size: 1em;
  color: #10B981;
}

.contentbox .content {
  padding-top: 8%;
  font-size: 1.3em;
  color: #9CA3AF;
}

.contentbox .pwdConstraints {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 6%;
  -webkit-column-gap: 10%;
          column-gap: 10%;
}

.contentbox .pwdConstraints .pwdCharInput {
  width: 40%;
}

.contentbox .pwdConstraints #pwdCharInput {
  height: 2.2em;
  font-size: 1em;
  width: 100%;
  text-align: center;
  color: #10B981;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  border-radius: 0.6em;
}

.contentbox .pwdConstraints #pwdCharInput:active, .contentbox .pwdConstraints #pwdCharInput:focus {
  outline: none;
}

.contentbox .pwdConstraints #pwdCharInput::-webkit-inner-spin-button, .contentbox .pwdConstraints #pwdCharInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.contentbox .pwdConstraints .checkboxes {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-column-gap: 20%;
          column-gap: 20%;
}

.contentbox .pwdConstraints .checkboxes .alphas, .contentbox .pwdConstraints .checkboxes .splChars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentbox .pwdConstraints .checkboxes #alphaCheckbox, .contentbox .pwdConstraints .checkboxes #numbersCheckbox, .contentbox .pwdConstraints .checkboxes #numbersCheckboxLabel, .contentbox .pwdConstraints .checkboxes #alphaCheckboxLabel {
  justify-self: flex-end;
}

.contentbox .pwdConstraints .checkboxes label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  color: #9CA3AF;
}

#generate {
  margin: 10% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px 10px 10px;
  color: #fff;
  background-color: #10B981;
  border: none;
  letter-spacing: 1px;
  border-radius: 6px;
  cursor: pointer;
}

#generate span {
  padding: 0px 6px 0px 0px;
}

.contentbox::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #2F3E53;
}

.gensPwd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0px 50px 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  row-gap: 20px;
}

.gensPwd span {
  padding: 10px 0px;
  min-width: 45%;
  max-width: 45%;
  background: #273549;
  border-radius: 10px;
  text-align: center;
  color: #10B981;
}

#modal {
  display: none;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #27354990;
}

#modal .modalContent {
  border-radius: 1.25em;
  width: 40%;
  margin: 10% auto;
  background-color: #10B981;
  padding: 2%;
}

#modal span {
  float: right;
}

#modal span:hover {
  cursor: pointer;
  color: #fff;
}

#modal p {
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
  clear: both;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  #main-box {
    width: 90%;
  }
  .contentbox {
    padding: 30px 30px;
  }
  .gensPwd {
    padding: 0px 30px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .gensPwd span {
    width: 100%;
  }
  .pwdConstraints {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .pwdCharInput {
    width: 100% !important;
  }
  #pwdCharInput {
    width: 100%;
  }
  .checkboxes {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row wrap !important;
            flex-flow: row wrap !important;
    width: 100% !important;
    margin-top: 10%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .modalContent {
    width: 80% !important;
    margin: 50% auto !important;
  }
}
/*# sourceMappingURL=style.css.map */