@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;800&display=swap');
$font: 'Inter', sans-serif;

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111827;
    height: 100vh;
    font-family: $font;
}
.main-box{
    width: 500px;
    height: 600px;
    background-color: #FFFFFF;
}
.title{
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 10% 0%;
    background-color: #F5F5F5;
    h1{
        font-size: 2.5em;
        font-weight: 800;
        margin-bottom: 2%;
    }
    span{
        font-weight: 500;
    }
}
.content-box{
    padding: 0 6%;
}
#price-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5% 0;    
    .option{
            width: max-content;
            border: #D5D4D8 1px solid;
            padding: 2% 2%;
            border-radius: 7px;
            color: #4A4E74;
            font-weight: 500;
            cursor: pointer;
            background-color: #FFFFFF;
            
        }
    .option:hover{
            border: 2px #4A4E74 solid;
        }
}
    
#items-list{
    list-style: none;
    display: flex;
}
.bill-headings{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 4%;
    color: #918E9B;
    font-weight: 700;
    font-size: 0.8em;
}
.column1{
    justify-self: flex-start;
}
.column2{
    justify-self: flex-end;
}


#items-list{
    display: flex;
    flex-direction: column;
    .item{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4% 0 0;
    }
    .item-name{
        color: #4A4E74;
        font-weight: 700;
        font-size: 1.2em;
        //padding: 4% 0 0;
    }
    .item-price{
        font-weight: 500;
        font-size: 1.5em;
        justify-content: flex-end;
        .dollar{
            color:#918E9B;
            font-weight: 400;
        }
        .price{
            color: #4A4E74;
        }
    }

}
hr{
    background-color: #4A4E74;
    margin-top: 5%;
}


















.send{
    display: flex;
    align-items: center;
    justify-content: space-around;
    #send{ 
        width: 95%;
        padding: 2%;
        background-color: #3770ED;
        border: none;
        color: #FFFFFF;
        font-size: 1em;
        font-weight: 500;
        border-radius: 7px; 
    }
    span{
        
    }
    .img{
        height: 10px;
        img{
            width: 20px;
            height: 20px;
        }
    }
}

#notification{
    display: none;
     background-color: #FFFFFF;
    padding: 1.2%;
    width: 250px;
    position: absolute;
    bottom: 35px;
    right: 10px;
    color: #4A4E74;
    font-weight:700;
    font-family: $font;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
}
