@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;800&display=swap');
$font: 'Inter', sans-serif;
$vd-blue: #111827;
$d-blue: #4A4E74;
$gray: #918E9B;
$white: #FFFFFF;
$vl-gray: #F5F5F5;
$b-blue: #3770ED;
$l-gray: #D5D4D8;

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $vd-blue;
    height: 100vh;
    font-family: $font;
}
.main-box{
    width: 500px;
    //height: 630px;
    background-color: $white;
}
.title{
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 10% 0%;
    background-color: $vl-gray;
    h1{
        font-size: 2.5em;
        font-weight: 800;
        margin-bottom: 2%;
    }
    span{
        font-weight: 500;
    }
}
.content-box{
    padding: 0 6%;
}
#price-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5% 0;    
    flex-wrap: wrap;
    .option{
            width: max-content;
            border: $l-gray 1px solid;
            padding: 2% 2%;
            border-radius: 7px;
            color: $d-blue;
            font-weight: 500;
            cursor: pointer;
            background-color: $white;
            
        }
    .option:hover{
            border: 2px $d-blue solid;
        }
}
    
#items-list{
    list-style: none;
    display: flex;
}
.bill-headings{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 4%;
    color: $gray;
    font-weight: 700;
    font-size: 0.8em;
}
.column1{
    justify-self: flex-start;
}
.column2{
    justify-self: flex-end;
}


#items-list{
    display: flex;
    flex-direction: column;
    .item{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4% 0 0;
    }
    .item-name{
        color: $d-blue;
        font-weight: 700;
        font-size: 1.2em;
        //padding: 4% 0 0;
    }
    .item-price{
        font-weight: 500;
        font-size: 1.5em;
        justify-content: flex-end;
        .dollar{
            color: $gray;
            font-weight: 400;
        }
        .price{
            color: $d-blue;
        }
    }

}
hr{
    background-color: $d-blue;
    margin-top: 5%;
}
.total{
    display: flex;
    margin-top: 4%;
    justify-content: space-between;
    color: $gray;
    font-size: 0.8em;
    .notes{
        display: flex;
        flex-direction: column;
    }
    #notes-title{
        margin-bottom: 7%;
        font-weight: 500;
    }
    #notes-text{
        font-weight: 400;
    }
    #total{
        display: flex;
        flex-direction: column;
        font-weight: 600;
        .total-title{
            margin-bottom: 5%;
        }
        .total-price{
            color: $d-blue;
            font-size: 2.5em;
            align-self: flex-end;

        }
    }
}
#send{
    width: 100%;
    margin : 5% 0 7%;
    background-color: $b-blue;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 0;
    line-height: 100%;
    border-radius: 7px;
    cursor: pointer;
    transition: all 250ms;
    .icon-container{
        padding-right: 3%;
        img{
            width: 20px;
            height: 20px;
        }
    }
    .button-text{
      
        font-family: $font;
        color: $white;
        font-size: 1.2em;
        font-weight: 500;
    }

}
#send:hover{
    background-color: darken($b-blue,10);
}
#notification{
    display: none;
    background-color: #FFFFFF;
    padding: 1.2%;
    border-radius: 7px;
    width: 200px;
    position: absolute;
    bottom: 35px;
    right: 10px;
    color: #4A4E74;
    font-weight:500;
    font-family: $font;
    font-size: 1em;
    justify-content: center;
    #snackbar-text{
        padding: 2%;
    }
}
